@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

@keyframes shimmer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -200;
  }
}

.animate-dash {
  animation: dash 2s linear infinite;
}